# CLI & Terminal UI
typer
rich

# System & Network Monitoring
psutil
scapy
dnspython
watchdog

# File & Executable Analysis
pefile
lief
yara-python-dex

# Database & API
pymongo
fastapi
uvicorn
pydantic

# Testing & Linting / Code Quality
pytest
ruff
black